/*body {
	background-image: url("../background.jpg");
}*/
#form1{
  margin-left:200px;
}
#form2{
  margin: 20% 30% 0% 30%;
}
.side-nav li a {
  text-decoration:none;
}
#searchResults2{
  background-color:#666666;
}
#searchResults{
  background-color:#666666;
}
.right li a{
  padding-right:2em;
  text-decoration:none
}
#placeData {
	text-align: center;
}
#backgroundImg {
	background-image: url("background1.jpg");
	background-size: cover;
}
nav{
  color: black;
}